/* You can add global styles to this file, and also import other style files */
/* Estilo Global da aplicação */
/* Reset CSS */
* {
  margin: 0;
  padding: 0;

  /* Tamanho da caixa contabiliza de borda - a - borda */
  box-sizing: border-box;

  /* cor do texto */
  color: white;

  background-color: #111111;

  font-family: "Segoe UI";
}
